@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap");
* {
    box-sizing: border-box;
}

body {
    background-image: url("https://images.unsplash.com/photo-1501139083538-0139583c060f?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8aG91cmdsYXNzfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80");
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    font-family: 'PT Sans Narrow', sans-serif;
    margin: 0;
}

#meeting-time {
    align-items: center;
    justify-content: center;
}

h1{
    font-weight: bold;
    font-size: 4rem;
    color: #FF851B;
}

.container {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.countdown-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.big-text{
    font-weight: bold;
    font-size: 6rem;
    line-height: 1;
    margin: 0 2rem;
}

.countdown-el {
    text-align: center;
    color: #FF851B;
}

.countdown-el span {
    font-size: 1.5rem;
    color: #FF851B;
    font-weight: bold;
}

